    <!-- Footer -->
    <footer>
        <div class="text-left row">
            <ul>
                <li><a href="https://bombbomb.com/company/">About BombBomb</a></li>
                <li><a href="/api">API</a></li>
                <li><a href="/auth">AUTH</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="https://bombbomb.com/workwithus/">Jobs</a></li>
                <li><a href="/libs">Libraries</a></li>
                <li><a href="http://support.bombbomb.com/?_ga=1.86711313.825334326.1482173465">Support</a></li>
                <li><a href="/webhooks">Webhooks</a></li>
            </ul>
        </div>
    </footer>

