<section id="why_bombbomb" class="container content-section text-center">

    <div class="row">
        <div class="bg"></div>
    <div class="text">
        <h2>Why build with BombBomb?</h2>
        <p>All kinds of people in all kinds of industries all around the world are using BombBomb every day. We get them
            face to face with more people more often, which helps them build relationships and grow their businesses and
            organizations. We prefer to serve our customers in the places they’re already working - like in your platform. They want to
            record new videos, access their video library, sync lists, pull in our tracking and analytics, trigger email
            sending and drip automations, and other things we make available to you.</p>

        <p>Check out <a href="/api">our open API</a> and start a free developer account to explore what’s possible.</p>
    </div>
    </div>

</section>



<section id="getting_started" class="container content-section text-center">
    <h2>How to build with BombBomb.</h2>
    <div class="row">
        <div class="col-lg-12">
            <div class="steps">
                <img src="img/steps/one.png" alt="step one">
                <h3><span>Step one</span> Create an<br> Account</h3>
                <div>
                 <p><a href="https://bombbomb.com/trial/?promo=DEVELOPER" target="_blank">Creating your Developer Account</a>
                gives you a sandbox where you can play, send a few emails, and get to know BombBomb.</p>
                    </div>
            </div>

            <div class="steps">
                <img src="img/steps/two.png" alt="step one">
                <h3><span>Step two</span> Do the<br> OAuth Dance</h3>
                <div>
                <p>With your account credentials, <a href="https://developer.bombbomb.com/auth/" target="_blank">set up an OAuth Client</a> and give your users a link that has them approve your app for access.</p>
                </div>
            </div>

            <div class="steps">
                <img src="img/steps/four.png" alt="step one">
                <h3><span>Step three</span> Get your<br> library</h3>
                <div>
                <p>This is it! Pop in one of <a href="/libs">our ready-to-play libraries</a>, give it the user token, and you're
            cooking!</p>
                </div>
            </div>

            <div class="steps">
                <img src="img/steps/five.png" alt="step one">
                <h3><span>Step four</span> Subscribe to<br> webhooks</h3>
                <div>
                <p>Stay in the loop with simple POSTs from our <a href="/webhooks">webhooks</a>.</p>
                </div>
            </div>

        </div>
    </div>
</section>