<section id="getting_started" class="container content-section text-left">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Step 1. Create a Developer Account</h2>
            <p><a href="http://bombbomb.com/trial/?promo=DEVELOPER" target="_blank">Creating your Developer Account</a>
                gives you a sandbox where you can play, send a few emails, and get to know BombBomb.</p>

            <h2>Step 2. Create an OAuth Client</h2>
            <p>With your account credentials, you can now
                <a href="/api/#!/Utilities/CreateOAuthClient">create an OAuth Client Id and Secret</a>
                you can use to send requests to the BombBomb API.</p>

            <h2>Step 3. Get your library</h2>
            <p>With your account credentials, you can now
                <a href="/api/#!/Utilities/CreateOAuthClient">create an OAuth Client Id and Secret</a>
                you can use to send requests to the BombBomb API.</p>

        </div>
    </div>
</section>