<!-- Contact Section -->
<section id="webhooks" class="container content-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Webhooks</h2>
            <p>Get real-time tracking results back to your server, just <a href="/api/#!/Webhooks/AddWebHook">add a webhook!</a></p>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
            <ul>
                <li>Email Opened, Clicked, Played</li>
            </ul>
        </div>
        <div class="col-lg-4">

        </div>
    </div>
</section>