$orange:     #FF6600;
$yellow:     #FFC400;
$red:        #FF0000;
$pink:       #F13C6E;
$teal:       #4DBFBB;
$blue:       #0096C9;
$darkblue:   #006B94;
$darkteal:   #38918F;
$white:      #FFFFFF;
$gray1:      #E1E1E1;
$gray2:      #999999;
$gray3:      #484949;
$gray4:      #2C2E2F;
$black:      #000000;

