.intro {
  .intro-body{
    .brand-heading {
      color: $yellow;
      text-transform: none;
    }
    .intro-text {
      border-bottom: 1px solid $white;
    }
    .btn-circle {
      border: none;
      position: absolute;
      bottom: 25px;
      margin-left: -45px;
      left: 50%;
    }
  }
}