.intro {
  .intro-body{
    .brand-heading {
      color: $yellow;
      text-transform: none;
    }
    .intro-text {
      border-bottom: 1px solid $white;
    }
    .btn-circle {
      border: none;
      position: absolute;
      bottom: 25px;
      margin-left: -45px;
      left: 50%;
    }
  }
}

#getting_started, #why_bombbomb {
  width: 100%;
  padding: 75px;
}



#why_bombbomb {
  background: $white;
  h2 {
    color: $orange;
  }
}
#getting_started {
  background: $teal;
}