body {
  background: #FFFFFF;
  position: relative; }

.navbar {
  text-transform: none;
  padding: 25px 135px;
  width: 100%;
  left: auto; }
  .navbar .mobile {
    display: none; }
  .navbar .navbar-brand {
    height: auto; }
  .navbar img {
    width: 275px; }
  .navbar.top-nav-collapse {
    background: #FF6600;
    padding: 0 135px; }
  .navbar .navbar-nav > li > a {
    padding: 5px 15px;
    margin: 15px 15px 0;
    text-transform: none; }
  .navbar .boxedlink {
    border: 1px solid #fff; }
  .navbar .menu-btn > a {
    background: url("img/menu.png") no-repeat center;
    background-size: contain;
    width: 35px;
    height: 35px;
    display: block;
    cursor: pointer; }
  .navbar .menu-btn ul {
    position: fixed;
    background: #E1E1E1 url(img/bomb.png) no-repeat -53px bottom;
    background-size: 300px auto;
    right: 0;
    top: 0;
    height: 100%;
    padding: 35px;
    list-style-type: none;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 2;
    margin-right: -250px;
    width: 250px; }
    .navbar .menu-btn ul a {
      color: #2C2E2F; }

#nav-icon3 {
  width: 35px;
  height: 35px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  cursor: pointer;
  margin: 17px 0 0; }

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

/* Icon 3 */
#nav-icon3 span:nth-child(1) {
  top: 0px; }

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 12px; }

#nav-icon3 span:nth-child(4) {
  top: 24px; }

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

footer {
  background: #2C2E2F; }
  footer .row {
    max-width: 1500px;
    margin: 0 auto; }
  footer ul {
    list-style-type: none; }
    footer ul li {
      display: inline-block; }
      footer ul li a {
        color: #FFFFFF;
        padding: 0 0 0 15px;
        text-transform: uppercase;
        font-weight: 600;
        font-family: 'Avenir LT W01_85 Heavy1475544', 'Avenir', Helvetica, Arial, sans-serif; }

.intro .intro-body {
  position: relative; }
  .intro .intro-body .brand-heading {
    color: #FFC400;
    text-transform: none;
    font-weight: 600;
    font-family: 'Avenir LT W01_85 Heavy1475544', 'Avenir', Helvetica, Arial, sans-serif; }
  .intro .intro-body .intro-text {
    border-bottom: 1px solid #FFFFFF; }
  .intro .intro-body .btn-circle {
    border: none;
    position: absolute;
    bottom: 25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }

#getting_started, #why_bombbomb, #libraries {
  width: 100%;
  padding: 75px; }
  #getting_started .row, #why_bombbomb .row, #libraries .row {
    max-width: 1500px;
    margin: 0 auto; }

#why_bombbomb {
  background: #FFFFFF; }
  #why_bombbomb div.row {
    position: relative; }
  #why_bombbomb div.row div.text {
    width: 60%;
    float: right;
    text-align: left; }
  #why_bombbomb div.row div.bg {
    background: url("img/bomb.png") no-repeat left 50px;
    background-size: auto 120%;
    width: 40%;
    height: calc(100% + 150px);
    position: absolute;
    left: 0;
    top: -75px; }
  #why_bombbomb h2 {
    color: #FF6600;
    text-transform: none;
    font-weight: 500;
    font-family: 'Avenir LT W01_65 Medium1475532', 'Avenir', Helvetica, Arial, sans-serif; }
  #why_bombbomb p {
    color: #2C2E2F;
    padding-right: 20px; }
    #why_bombbomb p:last-child {
      margin: 0; }

#getting_started {
  background: #4DBFBB; }
  #getting_started h2 {
    text-transform: none;
    font-weight: 500;
    font-family: 'Avenir LT W01_65 Medium1475532', 'Avenir', Helvetica, Arial, sans-serif; }
  #getting_started p {
    display: none; }
  #getting_started .steps {
    background: #38918F;
    width: calc(20% - 25px);
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    padding: 30px 30px;
    height: 200px;
    position: relative; }
    #getting_started .steps h3 {
      font-size: 18px;
      line-height: 1.25;
      font-weight: 600;
      font-family: 'Avenir LT W01_85 Heavy1475544', 'Avenir', Helvetica, Arial, sans-serif; }
    #getting_started .steps span {
      display: block;
      font-size: 12px;
      color: #E1E1E1;
      line-height: 3; }
    #getting_started .steps img {
      max-height: 45px;
      margin: 0 0 10px; }
    #getting_started .steps:hover > div {
      display: inline;
      width: 100%;
      height: 100%;
      background: #38918F;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0; }
      #getting_started .steps:hover > div p {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #FFFFFF;
        left: 0;
        padding: 0 20px;
        font-size: 14px;
        display: inline; }
      #getting_started .steps:hover > div a {
        color: #E1E1E1;
        cursor: pointer; }

#libraries {
  background: #E1E1E1; }
  #libraries .download-section {
    background: transparent;
    padding: 0; }
  #libraries img {
    width: 80%;
    margin: 0 10%;
    opacity: 0.7; }

.standard .navbar {
  background: #FF6600;
  padding: 0 135px; }
.standard .row {
  padding: 50px 150px;
  margin: 0; }
.standard h1 {
  color: #0096C9;
  text-transform: none;
  font-weight: 500;
  font-family: 'Avenir LT W01_65 Medium1475532', 'Avenir', Helvetica, Arial, sans-serif;
  margin: 150px 0 15px; }
.standard p {
  color: #2C2E2F; }
.standard .library {
  height: 200px;
  overflow: hidden; }
  .standard .library img {
    max-width: 70%;
    margin: 0 15%;
    margin: 50px auto;
    max-height: 100px; }
  .standard .library .packageInfo {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4DBFBB;
    text-align: center;
    padding: 35px; }
    .standard .library .packageInfo ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .standard .library .packageInfo ul li {
        padding: 0 0 15px; }
        .standard .library .packageInfo ul li a {
          color: #FFFFFF;
          font-size: 18px; }
          .standard .library .packageInfo ul li a:hover {
            text-decoration: underline; }
  .standard .library:hover .packageInfo {
    display: block; }
.standard .missing {
  background: #4DBFBB;
  width: 100%;
  margin: 0; }
  .standard .missing h2 {
    text-transform: none;
    font-weight: 500;
    font-family: 'Avenir LT W01_65 Medium1475532', 'Avenir', Helvetica, Arial, sans-serif; }
  .standard .missing p {
    color: #FFFFFF; }
    .standard .missing p a {
      color: #FFFFFF;
      font-weight: 600;
      font-family: 'Avenir LT W01_85 Heavy1475544', 'Avenir', Helvetica, Arial, sans-serif;
      cursor: pointer; }
      .standard .missing p a:hover {
        text-decoration: underline; }

@media screen and (max-width: 1550px) {
  #getting_started .steps {
    width: calc(26% - 25px); }

  #why_bombbomb div.row div.bg {
    background-size: auto 100%; } }
@media screen and (max-width: 1350px) {
  #why_bombbomb div.row div.bg {
    background: url("img/bomb.png") no-repeat left center;
    background-size: auto 80%; } }
@media screen and (max-width: 1250px) {
  #getting_started .steps {
    width: calc(50% - 25px); } }
@media screen and (max-width: 1193px) {
  #why_bombbomb div.row div.bg {
    display: none; }

  #why_bombbomb div.row div.text {
    width: 100%;
    text-align: center; } }
@media screen and (max-width: 993px) {
  #libraries .col-md-2 {
    display: inline-block;
    vertical-align: bottom;
    margin: 10px 30px; }

  .nav > li.desk {
    display: none; }

  .navbar .mobile {
    display: block; }

  .navbar {
    padding: 25px; }
    .navbar.top-nav-collapse {
      padding: 0 25px 0 0; }

  .navbar-right {
    margin: 0; } }
@media screen and (max-width: 770px) {
  .navbar {
    padding: 0;
    background: #FF6600; }

  .navbar-right {
    position: absolute;
    top: -5px;
    right: 40px; }

  .intro {
    height: 100%; }

  .intro .intro-body .intro-text {
    display: inline-block; } }
@media screen and (max-width: 725px) {
  #getting_started .steps {
    width: calc(100% - 25px); } }

/*# sourceMappingURL=style.css.map */
